
    .nav
    {
        background-color: white;
        z-index:9;
        padding-left: 40px;
        display:flex;
        box-shadow: 0px 3px 70px 0px rgba(0,0,0,.15);
    }
    .nav_top{
        position:fixed;
        top:0;
        left:0;
        right:0;
    }
    .logo{
        float:left;
    }
    .logo img{
        margin:15%;
        padding:5px;
    }
    .nav_side{
        padding-block-start: 30px;
        padding-inline-start: 300px;
        padding-top: 5%;
    }
    .nav_side a{
        text-decoration: none;
        margin-right: 10px;
    
        color: #8a0863 ;
        font-weight: bolder;
        font-size: 16px;
        font-family: Georgia, serif;
    }
    .nav_side a:hover{
        color:darkcyan;
        transition:.5s;
    }
    .main{
        margin-top: 30px;
        background-image:linear-gradient(to bottom right,#8a0863,darkblue);
        margin:5px;
        border-radius: 10px;
        margin-bottom: -10%;
    }
    .main .main_content{
        margin-top: 5%;
        display: flex;  
        text-align: center;  
        padding-bottom: 2%;
    } 
    .main .main_content .main_content1{
        text-align: center;
        width:100%;
        height: 100%; 
    }
    .main .main_content .main_content1 img{
        border-radius: 10px;
        padding:20px;
        padding-top: 20%;
    width:100%;
    height:100%;
    }
    .main .main_content .main_content2 h2{
        text-align:center;
        padding-top:50%;
        color:darksalmon;
        font-size:25px;
        font-family: Georgia, serif;
        font-weight: bolder;
        opacity: 0.5;
        
        
    }
    .product {
        padding-top: 13%;
    }
    .product h2{
        font-size: 30px;
        color:#8a0863;
        font-family: Georgia, serif;
        text-align:center;
    }
    .product .product_container{
        margin-top:10px;
        display:flex;
        align-items:baseline;
        margin-right: 5%;
        margin-left: 5%;
        
    }
    .product .product_container .image{
        width:33%;
        height:auto;
    }
    .product .product_container .image{
        display:grid;
        margin-top:5%;
        margin-right:10px;
    }
    .product .product_container .image img{
        border-radius:50%;
        width:100%;
        padding:5px;
    }
    .product .product_container .image a{
        color:#8a0863;
        font-family: Georgia, serif;
        margin-left:5px;
        margin-top: 15px;
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        text-decoration:none;
    }  
    .product .product_container .image a:hover{
        color:darkcyan;
        transition:.5s;
    }
    .sign{
        margin:5%;
        padding:30px
    }
    .sign .sign_container{
        display:flex;
        text-align: center;
    }
    .sign .sign_container .btn{
    padding-top:10%;

    }
    .sign .sign_container .btn p{
    font-size:25px;
    padding-top:30%;
    padding-right: 10%;
    padding-bottom: 15px;
    }
    .sign .sign_container img{
        padding-right: 30px;
    }

    .sign .sign_container .btn a{
    border:2px solid darkcyan;
    text-decoration:none;
    color:darksalmon;
    font-family: Georgia, serif;
    padding:4px 100px;
    border-radius:20px;
    font-size:20px;
    background-color: #8a0863;
    }
    .sign .sign_container .btn a:hover{
    border:none;
    color:#8a0863;
    font-family: Georgia, serif;
    background-color:rgb(5, 112, 112);
    border-bottom:5px solid darksalmon;
    transition:.5s;
    }

    .carousel-container {
        text-align: center;
    }
    .carousel-container h2{
        color:#6d045b;
        text-align:center;
        font-family: Georgia, serif;
        font-size: 35px;
        padding:50px;
    }
    .carousel-container a{
        border:3px solid  darkcyan;
        border-radius:2px;
        background-color:purple;
        color:darksalmon;
        font-family: Georgia, serif;
        padding: 5px 5px;
        font-size:15px;
        text-decoration:none;
        transition:.5s;
        
    } 
    .carousel-container a:hover{
        border:none;
        border-bottom:4px solid  darksalmon;
        border-radius:2px;
        background-color:darkcyan;
        color:darksalmon;
        font-family: Georgia, serif;
        padding: 5px 5px;
        font-size:15px;
        text-decoration:none;
        transition:.5s;
    }
    .main-carousel{
        margin:10px;
    margin:10px;
    margin-bottom: 7%;
    }
    .main-carousel .carousel-cell{
    padding: 10px;
    }
    .main-carousel .carousel-cell img{

    padding:10px;
    border-radius:10%;
    }
    .main-carousel .carousel-cell img:hover{
    box-shadow: 0px 3px 70px 0px rgba(0,0,0,.30);
    }
    .main-carousel .carousel-cell .carousel-content{
    text-align:center;
    font-family: Georgia, serif;
    line-height:10px;
    padding-bottom: 20px;
    }
    .main-carousel .carousel-cell .carousel-content h3{
    color: #6d045b;
    padding-bottom: 10px;
    }
    .main-carousel .carousel-cell .carousel-content p{
    color:black;
    padding-bottom:20px;
    }
    .main-carousel .carousel-cell .carousel-content a{
        border:3px solid  darkcyan;
        border-radius:2px;
        background-color:#8a0863;
        color:darksalmon;
        font-family: Georgia, serif;
        padding:5px 5px;
        font-size:15px; 
        text-decoration:none;
        transition:.5s;
    }
    .main-carousel .carousel-cell .carousel-content a:hover{
        border:none;
        color:#8a0863;
        background-color: rgb(5, 112, 112);
        border-bottom:4px solid darksalmon;
        font-weight:bolder;
    }
    .product_content{
        padding-bottom:10%;
    }
    #ring_content{
        padding:20px;
    }
    #ring_content h2
    {
        padding-top: 10%;
        text-align:center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
    } 
    #vadanam_content{
        padding:10px;
    }
    #vadanam_content h2
    {
        padding-top: 10%;
        text-align:center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
    } 
    #necklace_content{
        padding:10px;
    }
    #necklace_content h2
    {
        padding-top: 10%;
        text-align:center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
    } 
    #bracelet_content{
        padding:10px;
    }
    #bracelet_content h2
    {
        padding-top: 10%;
        text-align:center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
    } 
    #bangle_content{
        padding:10px;
    }
    #bangle_content h2
    {
        padding-top: 10%;
        text-align:center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
    } 
    .prd{
    margin-left: 5%;
    margin-right: 5%; 
    }
    .prd .prd1{
        display:flex;
        padding:20px;
    }
    .prd .prd2{
        text-align: center;
        padding-bottom: 20px;
    }
    .prd .prd2:hover{
        box-shadow: 0px 30px 65px  rgba(0,0,0,.30);
    }
    .prd .prd2 .prd_content p{
        font-family: Georgia, serif;
        padding:15px;
    }
    .prd .prd2 img{
        padding:20px;  
    }
    .prd .prd2 a{
        margin-top: 30%;
        border:3px solid darkcyan;
        border-radius:2px;
        background-color:#8a0863;
        color:darksalmon;
        font-family: Georgia, serif;
        padding: 5px 5px;
        font-size:15px;
        text-decoration:none;
        transition:.5s;
    }
    .prd .prd2 a:hover{
        border:none;
        color:#8a0863;
        background-color: rgb(5, 112, 112);
        border-bottom:4px solid darksalmon;
        font-weight:bolder;
    }
    .keypointer h2{
        text-align: center;
        font-family: Georgia, serif;
        color:#8a0863;
        font-size: 35px;
        padding-top:10%;
        padding-bottom: 5%;
    }
    .keypointer .key_container{
        background-image:url("images/features.jpg");   
        background-position:center;
        height:450px;
        width:70%;
        margin-left:15%;
        margin-right:10%;
        background-repeat:no repeat;
        background-size:cover;
        border-radius:10px;
    }
    .keypointer .key_container .features{
        float:left;
        text-align:left;
        padding-top:30px;
        font-size:16px;
    }
    .keypointer .key_container .features li{
        list-style:none;
        color:#6C3483;
        font-weight:bold;
        margin:10px;
        line-height:50px;
        padding-left:25px;
        border-left:5px solid #D50000;
        border-radius:5px;
        box-shadow:0px 3px 50px 0px rgba(0,0,0,0.15);
    }
    .review
    {
    padding:5px;
    text-align:center;
    }  
    .review h2{
        margin-top:10%;
        text-align:center;
        color:#6d045b;
        font-family: Georgia, serif;
        margin-bottom: 50px;
    }
    .review .review_container{
    padding-left:23%;
    padding-right: 23%;
    }
    .review .review_container .carousel-inner{
    background-color:white;
    }
    .review .review_container .item{
    width:100%;
    padding:10px;
    }
    .review .review_container .item .review_img{
    width:100%;
    height:250px;
    text-align: center;
    padding-bottom:20px;
    }
    .review .review_container .item .review_img img{
    border-radius:50%;
    width:50%;
    height:250px;
    }
    .review .review_container .item .review_content{
    text-align: center;
    }
    .review .review_container .item .review_content h3{
    padding-bottom:5px;
    }
    .review .review_container .item .review_content p{
    padding-bottom:20px;
    }
    footer{
        margin:5px;
        background-color:darkcyan;
        border-radius:10px;
        text-align:center;
        margin-top: 100px;
    }  
    .footer_logo{
        padding-top:5px;
        text-align:center;
    }
    
    .pages h3{
    color:darksalmon;
    padding:5px;
    font-size:20px;
    font-family: Georgia, serif;
    }
    .pages a{
    text-decoration: none;;
    color:white;
    padding:5px;
    font-family:Georgia, serif;
    }
    .doc h3{
    color:darksalmon;
    padding:5px;
    font-size:20px;
    font-family: Georgia, serif;
    }
    .doc a{
    text-decoration: none;;
    color:white;
    padding:5px;
    font-family:Georgia, serif;
    }
    .media .media_container .social{
    margin-left: 40px;
    }
    .media_container .social h3{
    color:darksalmon;
    padding:5px;
    font-size:20px;
    font-family: Georgia, serif;
    }
    .media_container .social a{
    text-decoration: none;;
    color:white;
    padding:5px;
    font-size: 22px;
    font-family:Georgia, serif;
    }
    .media .media_container .contact {
    margin-left:100px;
    }

    .media_container .contact h3{
    color:darksalmon;
    padding: 5px;
    font-size: 20px;
    font-family:Georgia, serif;
    padding-bottom: 5px;
    }
    .media_container .contact a{
    text-decoration: none;
    color:white;
    padding:5px;
    font-size:22px;
    font-family: Georgia, serif;
    }
    .media_container{
    display: flex;
    text-align: center;
    margin-left: 30%;

    }
    .media{
    background-color:#8a0863;
    border-radius:10px;
    margin-top: 20px;

    }
    .media p{
    color:white;
    padding-bottom: 6px;
    font-size: 15px;
    font-family: Georgia, serif;
    }
    .about_us{

    margin:5%;
    padding-top:10%;
    text-align:center;
    }
    .about_us h2{
    color:#8a0863;
    font-family: Georgia, serif;
    }
    .about_us .about_container p{
    font-family:georgia;
    line-height:25px;
    }
    .feed{
    margin-top: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image:url("images/feed3.jpeg");
    background-repeat:no repeat;
    background-size:cover;
    margin-right: 10px;
    width:100%;
    height:100%;
    text-align: center;
    }
    .feed h2{

    color:#8a0863;
    padding-bottom: 10px;
    }
    .feed .feed_form form input{
        outline:none;
        width:25%;
        font-family: Georgia, serif;
        margin-bottom:20px;
    }
    .feed .feed_form form textarea{
        outline: none;
    margin-bottom:10px;
    font-family: Georgia, serif;
    }
    .feed .feed_form form button{
        padding:4px;
        margin-bottom:10px;
        font-family: Georgia, serif;
    }
    .contact_us{
        padding:30px;
        padding-top: 10%;
    }
    .contact_us h2{
        padding: 20px;
        padding-top: 70px;
        text-align:center;
        font-family: Georgia, serif; 
        color:#8a0863;
    }
    .contact_us .g_map{
        border:4px solid purple;
    }
    .contact_us .contact_container{
        padding:20px;
    }
    .login{
    padding:150px;
    text-align: center;
    padding-bottom: 2%;
    
    }
    .login h2{
        font-size: 25px;
        padding: 20px;
        font-family: Georgia, serif; 
        color:#8a0863;
        padding-left:60px;
    }
    .login .login_container form {
        width:250px;
        height:200px;
        padding:50px;
        text-align: center;
        border:2px solid #8a0863;
        margin-left: 28%;
        margin-right: 20%;
    }

    .login .login_container form input{
        outline:none;
        font-size: 15px;
    margin-bottom: 30px;
    font-family: Georgia, serif; 
    border:none;
    border-bottom: 1px solid darkcyan;
    width:55%;
    }
    .login .login_container form button{
        padding:4px;
        margin-bottom:10px;
        font-family: Georgia, serif;
        margin-bottom: 30px;
        width:55%;
        border:2px solid  darkcyan;
        background-color:#8a0863;
        color:darksalmon;
        font-family: Georgia, serif;
        padding:5px 5px;
        font-size:15px;
        text-decoration:none;
        transition:.2s;
        border-radius: 20px;
    }
    .login .login_container form button:hover{
    border:none;
        color:#8a0863;
        background-color: rgb(5, 112, 112);
        border-bottom:4px solid darksalmon;
        font-weight:bolder;
        transition:.2s;
    }
    .blog{
        padding:70px;
        padding-top: 100px;
    }
    .blog h1{
        text-align: center;
        color:#8a0863;
        font-family: Georgia, serif;
        padding:25px;
    }
    .blog .blog_view{
        background-color:darkcyan ;
        border-radius:10px;
    }
    .blog .blog_view h2{
        padding-top:20px;
        text-align: center;
        color:#8a0863;
        font-family: Georgia, serif;
    }
    .blog .blog_view .blog_container{
        display:flex;
        padding-bottom: 30px;
        margin:30px;
        height: 300px;
        padding-left:5%;
        padding-right:5%;
    }

    .blog .blog_view .blog_container .blog_img{
        float:left;
    width:40%;
    }
    .blog .blog_view .blog_container .blog_img h3{
        padding-left:10%;
    }
    .blog .blog_view .blog_container .blog_img h2{
        color:#8a0863;
        font-family: Georgia, serif;
    }
    .blog .blog_view .blog_container .blog_img img{
        border-radius: 50%;
    }
    .blog .blog_view .blog_container .blog_img p{
        padding-left:15%;
        line-height: 20px; 
        font-family: Georgia, serif;
    }
    .blog .blog_view .blog_container .blog_content {
        width:60%;
        float:right;
        padding-top: 40px;
    }
    .blog .blog_view .blog_container .blog_content p{
        line-height:35px;
        font-family: Georgia, serif;
    }
    .signup{
        padding:15%;
        text-align: center;
    padding-bottom: 3%;
    
    }
    .signup h2{
        font-size: 25px;
        padding: 20px;
        font-family: Georgia, serif; 
        color:#8a0863;
    }
    .signup .signup_container{
        width:450px;
        height:650px;
    }
    .signup .signup_container form{
        text-align: center;
        padding:50px;
        text-align: center;
        border:2px solid purple;
        width:450px;
        height:350px;
        margin-left: 20%;
    }
    .signup .signup_container form input{
        outline:none;
        font-size: 15px;
        margin-bottom: 30px;
        font-family: Georgia, serif; 
        border:none;
        border-bottom: 1px solid darkcyan;
        width:55%;
    }
    .signup .signup_container form button{
        padding:4px;
        font-family: Georgia, serif;
        margin-bottom: 40px;
        width:55%;
        border:2px solid  darkcyan;
        background-color:#8a0863;
        color:darksalmon;
        font-family: Georgia, serif;
        padding:5px 5px;
        font-size:15px;
        text-decoration:none;
        transition:.2s;
        border-radius: 20px;
    }
    .signup .signup_container form button:hover{
            border:none;
            color:#8a0863;
            background-color: rgb(5, 112, 112);
            border-bottom:4px solid darksalmon;
            font-weight:bolder;
            transition:.2s;
    }
    .team{
        margin:10px;
    }
    .team h2{
        padding:25px;
        text-align: center;
        color:#8a0863;
        font-size:30px;
        font-family: Georgia, serif;
    }
    .team .team_container{
        display:flex;
    }
    .team .team_container .team_video{
        border:6px solid purple;
        margin: 20px;
    }
    .team .team_container .team_content{
        padding-top: 5%;
        line-height: 25px;
        font-family: Georgia, serif;
        font-size: medium;
    }





